
<mat-card class="card-step" fxFlex>
  

  <mat-card-header class="top">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="card-title">UPLOAD-DOCUMENT {{posr}}</mat-card-title>
    <mat-card-title class="text-normal">Plese fill this form</mat-card-title>
    <mat-card-subtitle  class="text-normal"><span class="text-alert">Note: </span>Fields with an asterisk <span class="text-alert">(*)</span> are required</mat-card-subtitle>
  </mat-card-header>

  <mat-vertical-stepper [linear]=true #stepper> 

    <mat-step [stepControl]="uploadFormGroup">
      <div>
        <ng-template matStepLabel>Upload Files</ng-template>

        <input type="file" accept="application/pdf" #file style="display: none" (change)="onFileAdded()" />

        <div *ngFor="let doc of docs">
        <div class="container">

              <mat-form-field class="field disabledDiv" fxFlex>
                <input matInput placeholder={{doc.name}} [value]="(doc.file)? doc.file.name: ''">
                <mat-icon matSuffix *ngIf="uploadSuccessful || uploading">check</mat-icon>
              </mat-form-field>

              <mat-progress-spinner
                  *ngIf="progress"
                  color="primary"
                  mode="determinate"
                  [value]="progress[doc.name].progress | async"
                  diameter="40" >
              </mat-progress-spinner>
              
              <button *ngIf="!progress" mat-mini-fab color="primary" (click)="addFile(doc)">
                <mat-icon *ngIf="!doc.file">add</mat-icon>
                <mat-icon *ngIf="doc.file">edit</mat-icon>
              </button>

        </div>
      </div>

      </div>

      <div>
             
     
      <p *ngIf="isComplete">
        You are now done.<br><br>
       <label class='red'>When you press save and next you will not be able to edit the information send.</label> 
      </p>
      <div>
        <button mat-raised-button matStepperNext  [disabled]="!isComplete" color="primary" (click)="onSubmit()">
          Saved all files and Next
        </button>
        
      </div>
        

      </div>
      
  
      
   
    </mat-step>
  
  </mat-vertical-stepper>
</mat-card>