.animations {
  margin-top: 3rem;
}

.card {
  margin: 20px;
  border-radius: 5px !important;
  background-image: linear-gradient(to right, white , lightblue);
  box-shadow: 5px 9px 2px 4px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  max-width: 18em;
}

.card-btn {
  box-shadow: 8px 10px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
  margin-top: 2rem !important;
}

.card-header {
  color: white !important;
  margin-top: -60px !important;
  margin-bottom: 25px;
  background: rgb(63, 81, 181) !important;
  background: rgba(63, 81, 181, 1) !important;
  box-shadow: 8px 10px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.card-alert {
  margin: 20px;
  background: #ea4033;
  color: white !important;
  box-shadow: 8px 10px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
    font-size: 14px;
    color: white !important;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.content { 
  text-align: center;
  display: flex;
}

.mat-drawer-container {
	background-color: transparent !important;
}

.mat-form-field {
    width: 100%;
}

.progress {
  padding: 7rem;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  font-size: 20px !important;
  font-family: 'Gochi Hand', cursive  !important;
}