<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="sidenav-menu" color="primary">Menu</mat-toolbar>
    <app-nav-list></app-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z6 aaa" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <a href="http://conceptsineldercare.com/" target="_blnak" mat-button class="title">
        <mat-icon>home</mat-icon>
        {{title}}
      </a>

      <span class="spacer"></span>
      <div>
        <app-nav-list class="nav-list" *ngIf="!(isHandset$ | async)"></app-nav-list>
      </div>

    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
